{#
SPDX-FileCopyrightText: 2025 Thomas Vincent
SPDX-License-Identifier: MIT
-#}
"{{ wordpress_mysql_slow_query_log_file }}" {
    daily
    missingok
    rotate {{ wordpress_logrotate_retention | default('30') }}
    compress
    delaycompress
    notifempty
    sharedscripts
    copytruncate

    postrotate
        # Reload MySQL logs
        if [ -x /usr/bin/mysqladmin ]; then
            /usr/bin/mysqladmin --defaults-file=/root/.my.cnf flush-logs
        fi
    endscript
}
